html{
    font-size: 15px;
}

/*Bienvenidos*/
.bienvenidos{
    background:url("../images/fondo-bienvenidos.jpg");
    background-size: cover;
    height: 20vh;
    overflow: hidden;
}
.fixed-top{
    background: rgba(0, 0, 0, 0.60);
}
#menuprincipal{
    clear:both;
}
.texto-bienvenido{
    color: rgb(224, 155, 155);
    margin-top: 5rem;
}
.btn-primary{
    background-color: orangered;
    border-color: orangered;
}
.btn-primary:hover{
    background-color: orange;
    border-color: orange;
}

/*Quienes Somos*/
.quienes-somos{
    background: orangered;
    color: white;
}

/*Servicios*/
.servicios .fas, .far{
    color:orangered;
    font-size: 6rem;
}
.servicios h3{
    font-weight: bold;
}

/*Portafolio*/
.portafolio{
    background: darkslategray;
    color: white;
}
.portafolio a{
    display: block;
    overflow: hidden;
    margin-bottom: 1.5rem;
}
.portafolio img{
    transition: all .3s ease;
    min-width: 100%;
}
.portafolio a:hover img{
    transform: scale(1.5);
}

/*Footer*/
.footer{
    color: white;
    background: black;
}